body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: rgb(41, 41, 41)
}

#topheader {
    border-bottom: 1px solid purple;
    padding-bottom: 20px;
}

#allcontent {
    width: 900px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

header img {
    margin-left: 10px;
}

#h3float {
    float: right;
    margin-left: auto;
    margin-top: auto;
    font-size: medium;
    padding-top: 30px;
}

.tabsbutton {
    
    justify-content: center;
    align-items: center; 
    align-content: center;
    margin-left: 505px;
    margin-top: -10px;

}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    text-decoration: none;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
}

.btn-1 {
    background-image: linear-gradient(to right, #8855ff 0%, #a78fff 51%, #411fff 100%);
}